<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="templates" type="Sitecore.InstallAssistant.Infrastructure.Configuration.TemplatesConfigurationSection, Sitecore.InstallAssistant.Infrastructure" />
  </configSections>
  <templates>
    <!--
          Specifies SIF template path
          that will be used to install SIF PowerShell module prerequisites.
          Default path: .\Prerequisites.json
    -->
    <template name="Prerequisites" path=".\Prerequisites.json" />
    <template name="Solr" path=".\Solr-SingleDeveloper.json">
      <parameter name="SolrPort" type="text" groupName="InstallSolr" value="8983" />
      <parameter name="SolrServicePrefix" type="text" groupName="InstallSolr" />
      <parameter name="SolrInstallRoot" type="folderPath" groupName="InstallSolr" value="C:\Solr" />
    </template>
    <template name="XPSingle" path=".\XP0-SingleDeveloper.json">
      <parameter name="Prefix" type="text" groupName="Sitecore" />
      <parameter name="SitecoreAdminPassword" type="passwordWithConfirm" groupName="Sitecore" />
      <parameter name="LicenseFile" type="filePath" groupName="Sitecore" />
      <parameter name="SqlServer" type="text" groupName="Sql" value="(local)" />
      <parameter name="SqlAdminUser" type="text" groupName="Sql" value="sa" />
      <parameter name="SqlAdminPassword" type="password" groupName="Sql" />
      <parameter name="SolrUrl" type="text" groupName="Solr" value="https://localhost:{Solr.SolrPort}/solr" />
      <parameter name="SolrRoot" type="text" groupName="Solr" value="{Solr.SolrInstallRoot}\{Solr.SolrServicePrefix}Solr-8.8.2" />
      <parameter name="SolrService" type="text" groupName="Solr" value="{Solr.SolrServicePrefix}Solr-8.8.2" />
      <parameter name="IdentityServerPackage" value=".\Sitecore.IdentityServer * rev. * (OnPrem)_identityserver.scwdp.zip" requiredAsset="true" />
      <parameter name="SitecorePackage" value=".\Sitecore * rev. * (OnPrem)_single.scwdp.zip" requiredAsset="true" />
      <parameter name="XConnectPackage" value=".\Sitecore * rev. * (OnPrem)_xp0xconnect.scwdp.zip" requiredAsset="true" />
      <parameter name="IdentityServerSiteName" value="identityserver-{Prefix}" />
      <parameter name="SitecoreSiteName" value="{Prefix}" />
      <parameter name="XConnectSiteName" value="xconnect-{Prefix}" />
      <parameter name="IdentityServerCertificateName" value="{IdentityServerSiteName}" />
      <parameter name="XConnectCertificateName" value="{XConnectSiteName}" />
      <parameter name="SitecoreIdentityAuthority" value="https://{IdentityServerSiteName}" />
      <parameter name="XConnectCollectionService" value="https://{XConnectSiteName}" />
      <parameter name="PasswordRecoveryUrl" value="https://{SitecoreSiteName}" />
      <parameter name="AllowedCorsOrigins" value="https://{SitecoreSiteName}" />
    </template>
    <template name="XM" path=".\XM1-SingleDeveloper.json">
      <parameter name="Prefix" type="text" groupName="Sitecore" />
      <parameter name="SitecoreAdminPassword" type="passwordWithConfirm" groupName="Sitecore" />
      <parameter name="LicenseFile" type="filePath" groupName="Sitecore" />
      <parameter name="SqlServer" type="text" groupName="Sql" value="(local)" />
      <parameter name="SqlAdminUser" type="text" groupName="Sql" value="sa" />
      <parameter name="SqlAdminPassword" type="password" groupName="Sql" />
      <parameter name="SolrUrl" type="text" groupName="Solr" value="https://localhost:{Solr.SolrPort}/solr" />
      <parameter name="SolrRoot" type="text" groupName="Solr" value="{Solr.SolrInstallRoot}\{Solr.SolrServicePrefix}solr-8.8.2" />
      <parameter name="SolrService" type="text" groupName="Solr" value="{Solr.SolrServicePrefix}solr-8.8.2" />
      <parameter name="IdentityServerPackage" value=".\Sitecore.IdentityServer * rev. * (OnPrem)_identityserver.scwdp.zip" requiredAsset="true" />
      <parameter name="SitecoreContentManagementPackage" value=".\Sitecore * rev. * (XM) (OnPrem)_cm.scwdp.zip" requiredAsset="true" />
      <parameter name="SitecoreContentDeliveryPackage" value=".\Sitecore * rev. * (XM) (OnPrem)_cd.scwdp.zip" requiredAsset="true" />
      <parameter name="IdentityServerSiteName" value="identityserver.{Prefix}" />
      <parameter name="SitecoreContentManagementSitename" value="cm.{Prefix}" />
      <parameter name="SitecoreContentDeliverySitename" value="cd.{Prefix}" />
      <parameter name="IdentityServerCertificateName" value="{IdentityServerSiteName}" />
      <parameter name="SitecoreIdentityAuthority" value="https://{IdentityServerSiteName}" />
      <parameter name="PasswordRecoveryUrl" value="https://{SitecoreContentManagementSitename}" />
      <parameter name="AllowedCorsOrigins" value="https://{SitecoreContentManagementSitename}" />
    </template>
    <template name="SXAXPSingle" path=".\SXA-SingleDeveloper.json">
      <parameter name="SiteName" value="{XPSingle.SitecoreSiteName}" />
      <parameter name="Prefix" value="{XPSingle.Prefix}" />
      <parameter name="SitecoreAdminPassword" value="{XPSingle.SitecoreAdminPassword}" />
      <parameter name="SQLServer" value="{XPSingle.SqlServer}" />
      <parameter name="SqlAdminUser" value="{XPSingle.SqlAdminUser}" />
      <parameter name="SqlAdminPassword" value="{XPSingle.SqlAdminPassword}" />
      <parameter name="SolrUrl" value="{XPSingle.SolrUrl}" />
      <parameter name="SolrRoot" value="{XPSingle.SolrRoot}" />
      <parameter name="SolrService" value="{XPSingle.SolrService}" />
      <parameter name="SXAPackage" value=".\Sitecore Experience Accelerator*.scwdp.zip" requiredAsset="true" />
      <parameter name="SPEPackage" value=".\Sitecore.PowerShell.Extensions*.scwdp.zip" requiredAsset="true" />
    </template>
    <template name="SXAXM" path=".\SXA-SingleDeveloper-XM1.json">
      <parameter name="SitecoreContentManagementSiteName" value="{XM.SitecoreContentManagementSiteName}" />
      <parameter name="SitecoreContentDeliverySiteName" value="{XM.SitecoreContentDeliverySiteName}" />
      <parameter name="Prefix" value="{XM.Prefix}" />
      <parameter name="SitecoreAdminPassword" value="{XM.SitecoreAdminPassword}" />
      <parameter name="SqlServer" value="{XM.SqlServer}" />
      <parameter name="SqlAdminUser" value="{XM.SqlAdminUser}" />
      <parameter name="SqlAdminPassword" value="{XM.SqlAdminPassword}" />
      <parameter name="SolrUrl" value="{XM.SolrUrl}" />
      <parameter name="SolrRoot" value="{XM.SolrRoot}" />
      <parameter name="SolrService" value="{XM.SolrService}" />
      <parameter name="SXACMPackage" value=".\Sitecore Experience Accelerator XM ??.?.? rev. ?????.scwdp.zip" requiredAsset="true" />
      <parameter name="SXACDPackage" value=".\Sitecore Experience Accelerator XM*CD.scwdp.zip" requiredAsset="true" />
      <parameter name="SPEPackage" value=".\Sitecore.PowerShell.Extensions*.scwdp.zip" requiredAsset="true" />
    </template>
  </templates>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--
          Specifies SIF PowerShell module version that is used to deploy Sitecore.
          If specified module version is not installed on your machine,
          choose to install prerequisites on Prerequisites page to be able to deploy Sitecore.
          Default value: 2.3.0
    -->
    <add key="SifModuleRequiredVersion" value="2.3.0" />
    <!--
          Specifies PowerShell repository to install SIF PowerShell module from.
          If you choose to install prerequisites on the Prerequisites page,
          the specified PowerShell repository will be registered only in the
          case where it isn't registered already and removed after SIF module installation.
          Default value: https://sitecore.myget.org/F/sc-powershell/api/v2
    -->
    <add key="SifModulePsRepository" value="https://sitecore.myget.org/F/sc-powershell/api/v2" />
    <!--
          Specifies SIF template from templates configuration section
          that will be used to deploy Sitecore.
          Default value: XPSingle
    -->
    <add key="TemplateToDeploy" value="XM" />
    <!--
        Specifies a folder to store Install Assistant logs.
    -->
    <add key="LogFolder" value="%USERPROFILE%\Sitecore.InstallAssistant" />
    <!--
        Specifies Sitecore Experience Platform URL
        that is used to launch installed Sitecore on Complete page.
        Default value: https://{SitecoreSiteName}/sitecore
    -->
    <add key="XPSingleLaunchSitecoreUrl" value="https://{SitecoreSiteName}/sitecore" />
    <!--
        Specifies Sitecore Experience Manager URL
        that is used to launch installed Sitecore on Complete page.
        Default value: https://{SitecoreContentManagementSitename}/sitecore
    -->
    <add key="XMLaunchSitecoreUrl" value="https://{SitecoreContentManagementSitename}/sitecore" />
  </appSettings>
</configuration>