<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
   <clear />
         <!-- Sitecore feed -->
    <add key="Sitecore" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
    <!-- NuGet Gallery -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>

        <packageSourceCredentials>
        <github>
            <add key="Username" value="steve-scuk" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>


</configuration>
