<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="officecore"
             deploymentSecret="jmdt8ohj14o7hmg8p5s7gj56n4yidhhmum0m8xcp7oo"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
