/* Prefooter registration form */
#msf_d4a62a9e-745f-4c3c-82fa-4ad0ec8e11e0 #primary-Email-0f7b5fa61811523fbd0ed928d6ef50ff {
    float: left;
    display: block;
}

#msf_d4a62a9e-745f-4c3c-82fa-4ad0ec8e11e0 #form-button-container-0f7b5fa61811523fbd0ed928d6ef50ff {
    float: left;
    display: block;
}